.top {
    height: 140px;
    width: 432px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}
.calculator {
    margin-top: 10px;
    width: 450px;
    height: 700px;
    border: 1px solid #000000;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.2);
    background: #1a1a1a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.bottom {
    height: 532px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}