<div class="row">
	<button class="button" (click)="sendClick('percent')">%</button>
	<button class="button" (click)="sendClick('CE')">CE</button>
	<button class="button" (click)="sendClick('C')">C</button>
	<button class="button" (click)="sendClick('del')">⌫</button>
</div>
<div class="row">
	<button class="button" (click)="sendClick('inv')"><span><sup>1</sup></span><span>/</span><span ><sub>x</sub></span></button>
	<button class="button" (click)="sendClick('pow2')">x²</button>
	<button class="button" (click)="sendClick('sqrt')">√x</button>
	<button class="button" (click)="sendClick('÷')">÷</button>
</div>
<div class="row">
	<button class="button" (click)="sendClick('7')">7</button>
	<button class="button" (click)="sendClick('8')">8</button>
	<button class="button" (click)="sendClick('9')">9</button>
	<button class="button" (click)="sendClick('×')">×</button>
</div>
<div class="row">
	<button class="button" (click)="sendClick('4')">4</button>
	<button class="button" (click)="sendClick('5')">5</button>
	<button class="button" (click)="sendClick('6')">6</button>
	<button class="button" (click)="sendClick('–')">–</button>
</div>
<div class="row">
	<button class="button" (click)="sendClick('1')">1</button>
	<button class="button" (click)="sendClick('2')">2</button>
	<button class="button" (click)="sendClick('3')">3</button>
	<button class="button" (click)="sendClick('+')">+</button>
</div>
<div class="row">
	<button class="button" (click)="sendClick('sign')">±</button>
	<button class="button" (click)="sendClick('0')">0</button>
	<button class="button" (click)="sendClick('.')">.</button>
	<button class="button" (click)="sendClick('=')">=</button>
</div>